@use "../../styles/partials/mixins" as *;

.help {

    &__title {
        font-size: 1.3rem;
        margin: 3.5rem 0 2rem 0;
    }

    &__list {
        list-style-type: circle;
        margin: 1rem;
        list-style-position: inside;
    }

    &__item {
        margin-bottom: 1rem;
    }

    &__grid {
        display: block;
        width: 100%;
        max-width: 250px;
        margin-top: 1rem;

        @include tablet {
            margin-left: 2rem;
        }
    }

    &__boundary-gap {
        display: block;
        width: 100%;
        max-width: 250px;
        margin-top: 1rem;

        @include tablet {
            margin-left: 2rem;
        }
    }

}