@use "../../styles/partials/mixins" as *;

.help {

    &__title {
        font-size: 1.3rem;
        margin: 3.5rem 0 2rem 0;
    }

    &__list {
        list-style-type: disc;
        margin: 1rem;
        list-style-position: inside;
    }

    &__item {
        margin-bottom: 1rem;
    }

    &__grid {
        display: block;
        width: 100%;
        max-width: 250px;
        margin-top: 1rem;

        @include tablet {
            margin-left: 2rem;
        }
    }

    &__boundary-gap {
        display: block;
        width: 100%;
        max-width: 250px;
        margin-top: 1rem;

        @include tablet {
            margin-left: 2rem;
        }
    }
    
    &__tooltip{
        font-size: 0.8rem;
        margin-left: 1.75rem;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        cursor: pointer;
    }

    &__tooltip-text {
        color: rgb(225, 225, 225);
    }

    &__tooltip-icon {
        color: rgb(150, 150, 150);
    }

    &__login{
        margin-top: 1rem;
        margin-right: 2rem;
        text-decoration: underline;
        cursor: pointer;
        text-align: center;

        &:hover {
            color: rgb(170, 170, 170);
        }
    }


}