@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/_variables" as *;

.cell {
  border: 1px solid transparent;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &--blank {
    background-color: $blank-cell-fill-color;
  }

  &--selected {
    background-color: $selected-cell-fill-color;
  }

  &--highlighted {
    background-color: $highlighted-cell-fill-color;
  }

  &__label {
    font-size: 1rem;
    position: absolute;
    left: 3px;
    top: -2px;

    @include tablet {
      font-size: 1.75rem;
    }
    
  }

  &__text {
    font-size: 2.5rem;

    @include tablet {
      font-size: 4rem;
    }
  }

  

}
