@use "../../styles/partials/mixins" as *;

.grid-wrapper {
  width: calc(100vw - 2 * var(--space-xs));
  flex-shrink: 0;
  margin: auto;
  overflow: hidden;

  @include tablet {
    width: calc(75vw - 2 * var(--space-xs));
  }

  @include desktop {
    max-width: 36rem;
  }
}

.grid {
  display: grid;
  gap: 0;
  width: 100%;
  transition: transform 0.2s ease;
  will-change: transform;
}