@use "./variables" as *;

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}


body,
.app {
  background-color: var(--background-color);
  color: var(--text-color);
}

.button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}
