@use "./variables" as *;

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}


html,
body,
.app {
  background-color: var(--background-color);
  color: var(--text-color);
  // overflow: hidden;
}

.button {
  background-color: var(--button-background-color);
  color: rgb(27, 27, 27);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: lightgrey;
  }
}
