@use "../../styles/partials/mixins" as *;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
  margin: var(--space-xs);
  flex: 1;

  @include tablet {
    align-items: stretch;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    gap: var(--space-md);

    @include tablet {
      justify-content: center;
    }

    @include desktop {
      gap: var(--space-lg);
      margin: var(--space-lg) auto;
    }
  }
}