@use "../../styles/partials/mixins" as *;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
  margin: var(--space-xs);
  flex: 1;

  @include tablet {
    align-items: stretch;
    margin: var(--space-md);
  }

  &__content {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    gap: var(--space-md);

    @include tablet {
      justify-content: center;
    }

    @include desktop {
      gap: var(--space-lg);
      margin-top: var(--space-lg);
      margin-inline: auto;
      max-width: calc(var(--num-cols, 13) * 4rem + var(--space-lg) + 420px);
      width: 100%;
    }
  }

  &__grid-col {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    flex: 1;

    .cr-toolbar {
      display: none;

      @media (pointer: fine) {
        display: flex;
      }
    }
  }

  &__side {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
  }
}