@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;

.clue-list {
  flex: 1;  
  display: none;

  @include tablet {
    display: flex;
  }

  &__across {
    margin-bottom: 1rem;
    flex: 1;
  }

  &__down {
    flex: 1;
  }

  &__item {
    cursor: pointer;

    &--highlighted {
      background-color: $highlighted-cell-fill-color;
    }
  }

  &__label {
    font-weight: bold;
    margin-right: 0.75rem;
  }

}
